<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.tympan.aspl.MinimalLoopback</string>
	<key>CFBundleName</key>
	<string>Minimal Loopback</string>
	<key>CFBundleExecutable</key>
	<string>MinimalLoopback</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>9E5B7C2A-1D3F-4A6B-8C9D-0E1F2A3B4C5D</key>
		<string>TympanAsplDriverFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<array>
			<string>9E5B7C2A-1D3F-4A6B-8C9D-0E1F2A3B4C5D</string>
		</array>
	</dict>
</dict>
</plist>
